dj-database-url==0.4.2
Django==1.11.2
django-mathfilters==0.4.0
djangorestframework==3.7.7
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.10.3
paho-mqtt==1.3.0
Pillow==5.0.0
pre==1.3.0
PyPDF2==1.26.0
pytz==2018.3
reportlab==3.4.0
six==1.11.0
webencodings==0.5.1
whitenoise==3.3.1
xhtml2pdf==0.2.1
psycopg2==2.7.1
cf-deployment-tracker==1.0.2
requests==2.18.2
click==6.7
cloudant==2.4.0
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pysolr==3.6.0
virtualenv==15.0.1
watson-developer-cloud==0.25.2
Werkzeug==0.12.1
psycopg2==2.6.2
